@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: Tahoma, Verdana, ui-sans-serif, system-ui, sans-serif;
	--font-heading: Tahoma, Verdana, ui-sans-serif, system-ui, sans-serif;

	--color-brand-50: #eff4ff;
	--color-brand-100: #dbe6fe;
	--color-brand-200: #bfd3fe;
	--color-brand-300: #93b4fd;
	--color-brand-400: #6090fa;
	--color-brand-500: #3b70f6;
	--color-brand-600: #175ddc;
	--color-brand-700: #1450c4;
	--color-brand-800: #1546ab;
	--color-brand-900: #143f97;
	--color-brand-950: #123a8a;

	--color-slate-50: #eef4fd;
	--color-slate-100: #e6eefb;
	--color-slate-200: #dbe6f6;
}

body {
	font-family: var(--font-sans);
}
